<mat-toolbar color="primary"> Cadastro de Empresa </mat-toolbar>
<mat-card>

  <mat-card-content>
      <form [formGroup]="form">

          <mat-form-field>
            <input matInput placeholder="CNPJ" formControlName="cnpj" mask="00.000.000/0000-00"/>
          </mat-form-field>


          <mat-form-field>
            <input matInput placeholder="Nome Fantasia" formControlName="nomeFantasia"/>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="CEP" formControlName="cep" mask="00000-000"/>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Fornecedores</mat-label>
            <mat-select formControlName="fornecedores" multiple>
              <mat-option *ngFor="let f of fornecedores" [value]="f">
                {{ f.nome }} ({{ f.cpfCnpj }})
              </mat-option>
            </mat-select>
          </mat-form-field>



          <button mat-raised-button (click)="onSubmit()">Salvar</button>
          <button mat-raised-button (click)="onBack()">Voltar</button>

      </form>

  </mat-card-content>
</mat-card>
