<mat-table [dataSource]="fornecedores" class="mat-elevation-z8">

  <ng-container matColumnDef="cpfCnpj">
    <mat-header-cell *matHeaderCellDef> CNPJ </mat-header-cell>
    <mat-cell *matCellDef="let fornecedor"> {{fornecedor.cpfCnpj}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="nome">
    <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
    <mat-cell *matCellDef="let fornecedor"> {{fornecedor.nome}} </mat-cell>
  </ng-container>


  <ng-container matColumnDef="cep">
    <mat-header-cell *matHeaderCellDef> CEP </mat-header-cell>
    <mat-cell *matCellDef="let fornecedor"> {{fornecedor.cep}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="dataNascimento">
    <mat-header-cell *matHeaderCellDef> Data Nascimento </mat-header-cell>
    <mat-cell *matCellDef="let fornecedor"> {{fornecedor.dataNascimento}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="rg">
    <mat-header-cell *matHeaderCellDef> RG </mat-header-cell>
    <mat-cell *matCellDef="let fornecedor"> {{fornecedor.rg}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">

    <mat-header-cell  *matHeaderCellDef>
      <button mat-icon-button  color="primary" aria-label="Add fornecedor" (click)="onAdd()">
        <mat-icon>add</mat-icon>
      </button>
    </mat-header-cell>

    <mat-cell  *matCellDef="let fornecedor">
      <button mat-icon-button  color="accent" aria-label="Editar fornecedor" (click)="onEdit(fornecedor)">
        <mat-icon>edit</mat-icon>
      </button>

      <button mat-icon-button  color="warn" aria-label="Deletar fornecedor" (click)="onDelete(fornecedor)" >
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>

  </ng-container>



  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>
